RewriteEngine On
RewriteBase /

# Redirect all requests to index.php if they are not for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
